html {
    font-size: 5px;
}

body {
    font-family: Signika;
}

body .overlay{
    display: none;
    width: 100%;
    height: 100%;
    background: #0B0433;
    opacity: 0.7;
    z-index: 9999;
    position: fixed;
}

body.sidr-open .overlay{
    display: block;
}

.navbar {
    height: auto;
}

.page{
    padding-top: 30px;
    padding-bottom: 30px;
}
.fb-follow {
    width: 100%;
    display: inline-block;
    margin-bottom: 40px;
    text-align: center;
}
.page#home{
    padding-top: 0;
}

.page .text-content{
    padding: 0 100px 0 35px;
}
#page-content {
    padding: 57px 0 0 0;
    max-width: 1280px;
    margin: 0 auto;
}

#page-content .container {
    position: relative;
}

.container {
    padding: 0;
    width: 100%;
}

.red{
    color: #bb0922 !important;
}

.blue{
    color: #333366;
}

.grey{
    color: #888;
}
.hide, .sidr-class-hide{
    display: none !important;
}
.sub-items {
    display: none;
    background: #f2f2f2;
    border-top: 1px solid #fff;
}
.navbar-fixed-top .sub-items a{
    display: inline-block;
    font-size: 2.5rem;
    line-height: 1.8em;
    height: 1.8em;
    text-decoration: none;
    color: #333366;
    padding: 0 1em;
    border-left: 1px solid #fff;
    cursor: pointer;
}
.navbar-fixed-top .sub-items a:first-child{
    border-left: none;

}
.navbar-fixed-top .sub-items a.active{
    color: #fff;
    background: #c94055;

}
/* Navbar */
/*---------------------------------------------------*/
.navbar-fixed-top {
    background: #f2f2f2;
}

.navbar-fixed-top ul.navbar-nav > li.active > a,
.dropdown-menu>.active>a {
    color: #BB0922;
}
.navbar-fixed-top ul.navbar-nav > li:not(.active) > a {
    color: #888;
}
.navbar-fixed-top ul.navbar-nav > li > a {
    color: #888;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
}

.navbar-fixed-top ul.navbar-nav > li a:hover,
.navbar-fixed-top ul.navbar-nav > li a:active,
.navbar-fixed-top ul.navbar-nav > li a:focus,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background: none;
}

.dropdown-menu {
    background: #f2f2f2;
    border: none;
    top: 80%;
    left: 15px;
    box-shadow: none;
    border-radius: 7px !important;
}

.dropdown-menu > li > a {
    padding: 7px 25px;
    font-size: 1.8rem;
}

.nav.navbar-nav {
    display: none;
}

.navbar-header {
    width: 100%;
    text-align: center;
    margin-left: 0;
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse{
    margin-left: 0;
    margin-right: 0;

}

.navbar-toggle {
    display: block;
    cursor: pointer;
    margin-left: 10px;
    z-index: 1033;
    position: absolute;
    margin-bottom: 0;
}

.navbar-toggle .icon-bar {
    background: #808080;
    width: 37px;
    height: 5px;
    border-radius: 7px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}

.navbar-brand {
    margin: 0 auto;
    height: auto;
    padding: 0 15px 0;
    float: none;
    display: inline-block;
}

.navbar-brand {
    display: none;
}

#sidr-main ul li a, .sidr ul li a{
    font-family: Signika;
    font-weight: bold;
    color: #888;
    height: 48px;
    line-height: 48px;
    font-size: 1.2em;
}
#sidr-main ul li ul li a{
    font-weight: normal;
}
#sidr-main ul li:not(.sidr-class-side-mail-link){
    background: url(../images/arrow_right_mobile.png) 95% center no-repeat;

}
.sidr.right ul li:not(.ext-link){
    background: url(../images/arrow_left_mobile.png) 15px center no-repeat;
}

#sidr-main ul li.sidr-class-dropdown {
    background-position: 335px 14px;
}

.sidr {
    background: #fff;
    box-shadow: none;
    min-width: 50%;
    max-width: 100%;
}
.sidr.right {
    text-align: right;
}

.sidr ul li:hover:not(.sidr-class-side-mail-link)>a, .sidr ul li:hover>span, .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span {
    background: url(../images/arrow_right_mobile.png) 95% center no-repeat, #f2f2f2;
}

.sidr.right ul li:hover:not(.ext-link)>a, .sidr.right ul li:hover>span, .sidr.right ul li.active>a, .sidr.right ul li.active>span, .sidr.right ul li.sidr-class-active>a, .sidr.right ul li.sidr-class-active>span {
    background: url(../images/arrow_left_mobile.png) 15px center no-repeat, #f2f2f2;
}
.sidr.right .ext-link a, .sidr.right .ext-link:hover{
    background: #fff !important;
    box-shadow: none !important;
    color: #0b0433 !important;
}
.sidr.right .ext-link a i{
    float: left;
    font-size: 2em;
    line-height: 1.6em;
}
.sidr.right .brand-content img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
.sidr.right .brand-content .brand-menu ul{
    margin-bottom: 0;
}
.sidr-class-side-mail-link, .sidr-class-side-mail-link:hover, .sidr-class-side-mail-link:hover > a{
    background: #f2f2f2;
}

.sidr ul li.sidr-class-side-mail-link:hover>a, .sidr ul li.sidr-class-side-mail-link:hover>span, .sidr ul li.sidr-class-side-mail-link.active>a, .sidr ul li.sidr-class-side-mail-link.active>span, .sidr ul li.sidr-class-side-mail-link.sidr-class-active>a, .sidr ul li.sidr-class-side-mail-link.sidr-class-active>span{
    box-shadow: none;
}

.sidr-class-side-logo, .sidr-class-side-logo img {
    height: auto;
    display: block;
    max-width: 100%;
}

.side-logo{
    display: none;
}

.side-mail-link{
    background: 
}

.sidr ul li{
    border-top: none !important;
}


.navbar-header h2 {
    margin: 12px 0;
    text-transform: capitalize;
}


/* Content */
/*---------------------------------------------------*/
.home-bg {
    position: relative;
    overflow: hidden;
}

.home-bg img.bg {
    width: 100%;
}

.page-content-overlay{
    display: none;
    width: 100%;
    height: 100%;
    background: #0B0433;
    opacity: 0.7;
    z-index: 2;
    position: absolute;
}

.home-bg.over .home-bg-overlay{
    display: block;
}

.home-bg .slogan, .home-bg .link-news {
    font-size: 2.6rem;
    font-weight: bold;
    color: #0B0433;
    background: #fff;
    opacity: 0.8;
    border-radius: 7px;
    line-height: 1.2em;
    padding: 0.6em 0.7em;
}
.home-text{
    width: 50%;
    position: absolute;
    right: 0;
    top: 10%;

}

.home-bg .link-news {
    top: 37%;
    background: #333366;
    left: 50%;
    padding: 0.2em 0.7em;
    margin-top: 1em;
    display: inline-block;
    margin-left: 3em;
}
.home-bg .link-news a {
    text-decoration: none;
    color: #fff;
}

.content-logo{
    text-align: center;
    display: block;
}

.logo-line {
    display: block;
    width: 280px;
    height: 5px;
    background: #eee;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 157px;
    margin-left: -140px;
}

.content-logo {
    position: relative;
    margin: 30px 0;
}

.content-logo img{
    width: 200px;
}

.home-contact-block {
    float: left;
    width: 50%;
    min-height: 200px;
}

.home-contacts {
    margin-top: 20px;
    background: #fff;
}

.home-contact-block p, .home-contact-block h3, .home-contact-block a {
    text-align: left;
    padding-left: 12.5rem;
    word-break: break-word;
}

.home-contact-block:first-child p, .home-contact-block:first-child h3, .home-contact-block:first-child a {
    text-align: right;
    padding-left: 0;

}

.home-contact-block p{
    color: #333366;
    font-size: 0.7em;
}

.home-contact-block h3 {
    color: #0b0433;
    font-size: 3.3rem;
}

.home-contact-block p.red{
    color: #cc3355;
    padding-right: 24px;
}
.home-contact-block p, .home-contact-mail{
    font-size: 2rem;
}

.home-contact-block.clock{
    padding-right: 1em;
}
.home-contact-mail{
    color: #333366;
    background: url(../images/mail.png) left center no-repeat;
    background-size: 7rem;
    font-size: 2rem;
    padding: 15px 0 15px 75px;
    display: inline-block;
    margin-top: 30px;
}

.home-contact-block.clock h3 img {
    width: 5rem;
    margin-right: 1em;
}
.home-contact-block.clock h3{
    margin: 0;
    margin-left: 0;
    padding: 0.5em 0 1em;
}

.home-contact-head{
    background: url(../images/badge.png) 10px center no-repeat;
    background-size: 5rem;
    margin: 0;
    padding: 0.5em 0 1em;
}

.text-content h2, .text-content p{
    font-size: 2.9rem;
    margin-bottom: 1.8em;
    color: #888;
}



/* Bike block */
/*---------------------------------------------------*/
h2.type-head,
.desktop-img{
    display: none;
}
.preview img {
    width: 100%;
    margin: 0 0 34px;
}
.bike-block {
    min-height: 200px;
    padding-top: 60px;
}
#diensten .bike-block {
    padding-top: 100px;
}
.bike-block .text-content{
    padding: 0 35px;
}

.bike-block .text-content p{
    font-size: 2.9rem;
    color: #888;
    margin-bottom: 1em;
}

.bike-block .text-content p.red{
    font-size: 2.9rem;
}

.bike-block a.link-canvas {
    font-size: 2.9rem;
    text-align: center;
    display: block;
    text-decoration: none;
}

.bike-block.descr{
    padding: 0;
    display: block;
    background: none;
}
.bike-block.descr.pull-left, .bike-block.descr.pull-right{
    float: none !important;
}
.bike-block .description p{
    font-size: 2.9rem;
    line-height: 1.2em;
    padding: 0 100px 0 40px;
}
.description .fa.fa-camera{
    font-size: 0.7em;
}

.bike-block .description{
    display: block;
    color: #888;
}
.bike-block .description a{
    color: #888;
    text-decoration: none;
}

.bike-block.desktop-img {
    padding: 12px;
}
.bike-block.top-right-corner{
    background: url(../images/corner_top_right.png) top right no-repeat;
}
.bike-block.top-left-corner{
    background: url(../images/corner_top_left.png) top left no-repeat;
}
.bike-block.desktop-img img{
    width: 100%;
}
.text-center.byke-types{
    display: none;
}
.bike-block h3{
    background: #f2f2f2;
    color: #bb0922;
    text-align: center;
    font-size: 2.9rem;
    line-height: 1.8em;
    margin-bottom: 0;
    margin-top: 0;
}
/* News block */
/*---------------------------------------------------*/
.type-head.news-head {
    margin-left: 0;
}

.news-block{
    width: 100%;
    background: #fff;
    padding: 14px 0;
}
.news-block:nth-child(2n+1){
    margin: 20px 0;
}
.news-block p{
    padding: 0 3rem;
    font-size: 3.7rem;
}
.news-block, .news-block p {
    font-size: 3.7rem;
    line-height: 1.2em;
}
.news-block p:not(.small) {
    margin-bottom: 0.8em;
    color: #888;
}
.news-block p.small {
    font-size: 2.9rem;
}

.news-block img{
    width: 100%;
    height: auto;
}
.news-block a{
    text-decoration: none;
}
.news-preview{
    position: relative;
    margin-bottom: 0.8em;
}

.news-block .discount {
    position: absolute;
    color: #fff;
    font-size: 6.5rem;
    background-color: rgba(187, 9, 34, 0.8);
    border-radius: 7px;
    height: 7.7rem;
    line-height: 7.7rem;
    padding: 0 25px;
    letter-spacing: 0.01em;
    right: auto;
    left: 0;
    top: 50%;
}
.news-block.last{
    margin-bottom: 0;
}

/* Marks */
/*---------------------------------------------------*/
.marks-bike, .accessoires-bike , .onderdelen-bike {
    text-align: center;
    padding: 0 5%;
}
.mark-items{
    margin: 0 auto;
}
.page#merken h3{
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 7px;
    font-size: 3rem;
    line-height: 4.5rem;
    padding: 0 0.5em;
    position: relative;
    margin: 1em 0;
}
.page#merken .type-head{
    margin-bottom: 0.4em;
}
.page#merken .icon-link{
    font-size: 2.8rem;
    color: #333366;
    background: #f2f2f2;
    border-radius: 7px;
    padding: 0 0.3em;
    margin-left: 0.3em;
    position: absolute;
    top: 0;
    left: 100%;

}
.bg-blue {
    background: #333366;
}

.bg-red {
    background: #bb0922;
}

a.mark-item{
    font-size: 3rem;
    line-height: 5.8rem;
    padding: 0 0.5em;
    border-radius: 7px;
    float: left;
    margin: 0.2em 0.3em;
    background: #f2f2f2;
    color: #333366;
    width: 20rem;
    max-width: 200px;
    text-align: left;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.red-font .mark-item {
    color: #cc3355;
}
.page#merken .red-font .icon-link{
    color: #cc3355;
}
.close{
    margin: 2rem;
    opacity: 1;
}
.sidr-brand{
    min-height: 100%;
    position: relative;
}
.brand-content{
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Contact */
/*---------------------------------------------------*/
.page#contact{
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.contact-bg img{
    max-width: 100%
}
.contacts{
    background: #e5e5e5;
    padding: 5% 10%;
}

.contact-block{
    width: 100%;
    float: none;
}
.contact-block.address h3 {
    background: url(../images/badge.png) 0 0 no-repeat;
    background-size: 6rem;
}
.contact-block.email h3 {
    background: url(../images/mail.png) 0 0 no-repeat;
    background-size: 10rem;
}
.contact-block.clock h3 {
    background: url(../images/clock.png) 0 0 no-repeat;
    background-size: 10rem;
    padding: 3.5em 0 1em;
}
.contact-block h3 {
    margin: 0;
    padding: 3em 0 1em;
    font-size: 4rem;
    color: #0b0433;
}
.contact-block.clock p {
    display: inline-block;
    text-align: right;
    min-width: 30rem;
}
.contact-block.clock p.red{
    text-align: left;
}

.contact-block p {
    font-size: 3rem;
    color: #333366;
    margin-bottom: 1em;
}
.contact-block p a{
    color: #333366;
}

.contact-block.address .phone{
    position: relative;
}
.map-icon {
    width: 10rem;
    position: absolute;
    right: 0;
    bottom: 0;
}
.contact-block.address iframe{
    width: 100%;
    height: 75rem;
}
.contact-block.address .map{
    height: 76rem;
    border-radius: 7px;
    border: 0.5rem solid #fff;
    width: 100%;
    margin: 2em 0 3em;
}
.white-line{
    height: 1px;
    width: 100%;
    background: #fff;
    margin-bottom: 2em;
}

.contact-form input, .contact-form textarea{
    display: block;
    width: 100%;
    border-radius: 7px;
    background: transparent;
    border: 0.5rem solid #fff;
    color: #888;
    font-size: 3rem;
    height: 9rem;
    margin-bottom: 1.3em;
    padding: 0 0.8em;

}
.contact-form input:focus, .contact-form textarea:focus{
    border: 0.5rem solid #999;
    outline: none;
}
.contact-form input[type="submit"]{
    width: auto;
    margin-bottom: 2em;
}
.contact-form textarea{
    padding: 0.8em;
    height: 30rem;
}

.footer-menu .menu-block{
    width: 33.333%;
    min-height: 30rem;
    float: left;
}
.footer-menu h4 {
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: bold;
    color: #bb0922;
    margin-bottom: 1em;

}
.footer-menu ul {
    padding-left: 0;
    list-style: none;
}
.footer-menu ul li a{
    font-size: 2.3rem;
    font-weight: bold;
    color: #888;
    text-decoration: none;
    line-height: 1.5em;
}
.footer-menu ul li a:hover{
    color: #bb0922;
}
.white-line.last {
    margin-bottom: 3em;
}

/* Media queries */
/*---------------------------------------------------*/
@media (min-width:380px) { 
    html {font-size: 6px;}

}
@media (min-width:610px) { 
    html {font-size: 8px;}
    
    .home-bg .slogan, .home-bg .link-news {
        font-size: 3.6rem;
    }
    .navbar {
        min-height: 57px;
        height: auto;
    }

    #page-content {
        padding: 57px 0 0 0;
    }
    .content-logo {
        margin: 30px 0;
    }
    .content-logo img{
        width: 200px;
    }


}

@media (min-width: 768px) {
    html {font-size: 10px;}
    .home-bg .slogan, .home-bg .link-news {
        font-size: 2.9rem;
    }

    .navbar {
        min-height: 75px;
        height: auto;
    }

    #page-content {
        padding: 75px 0 0 0;
    }

    .content-logo {
        margin: 70px 0 60px;
    }

    .navbar-toggle {
        top: 3px;
        position: absolute;
    }

    .navbar-toggle .icon-bar {
        width: 50px;
        height: 7px;
    }

    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 7px;
    }
    .content-logo img {
        width: 337px;
    }
    .logo-line {
        display: block;
        width: 470px;
        height: 8px;
        background: #eee;
        border-radius: 7px;
        position: absolute;
        left: 50%;
        top: 264px;
        margin-left: -235px;
    }
    #sidr-main ul li a, .sidr ul li a{
        height: 68px;
        line-height: 68px;
        font-size: 1.5em;
    }
    #sidr-main ul li:not(.sidr-class-side-mail-link){
        background: url(../images/arrow_right_tablet.png) 465px center no-repeat;
    }
    .sidr.right ul li:not(.ext-link){
        background: url(../images/arrow_left_tablet.png) 15px center no-repeat;
    }
    #sidr-main ul li.sidr-class-dropdown {
        background-position: 465px 18px;
    }
    .sidr ul li:hover:not(.sidr-class-side-mail-link)>a, .sidr ul li:hover>span, .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span {
        background: url(../images/arrow_right_tablet.png) 465px center no-repeat, #f2f2f2;
    }
    .sidr.right ul li:hover:not(.ext-link)>a, .sidr.right ul li:hover>span, .sidr.right ul li.active>a, .sidr.right ul li.active>span, .sidr.right ul li.sidr-class-active>a, .sidr.right ul li.sidr-class-active>span {
        background: url(../images/arrow_left_tablet.png) 15px center no-repeat, #f2f2f2;
    }

    .sidr {
        width: 512px;
    }
    .sidr-class-side-logo, .sidr-class-side-logo img{
        height: 106px;
    }
    .home-contact-block p, .home-contact-mail{
        font-size: 1.3em;
    }
    .home-contact-block p.red{
        padding-right: 44px;
    }
    .home-contact-mail{
        margin-top: 60px;
    }

    .page .text-content{
        padding: 0 270px 0 100px;
    }

    .preview img {
        margin: 0 0 80px;
    }
    .bike-block.descr{
        padding: 0;
        display: block;
        background: none;
    }
    .bike-block .description p{
        font-size: 2.9em;
        line-height: 1.2em;
        padding: 0 115px;
    }

    .bike-block .description{
        display: block;
    }

    .bike-block .text-content{
        padding: 0 250px 0 110px;
    }

    .navbar-header h2 {
        margin: 21px 0;
    }

    .news-block .discount{
        left: 0;
        top: 10%;
    }
}

@media (min-width: 992px) {

    .navbar {
        height: 189px;
    }
    .navbar-header h2{
        display: none;
    }
    .text-center.byke-types,
    .desktop-img{
        display: block;
    }
    #page-content {
        padding: 189px 0 0 0;
    }

    .home-bg .slogan, .home-bg .link-news {
        font-size: 2.5em;
    }

    .navbar-fixed-top .container{
        margin: 0 auto;
        max-width: 1280px;
        position: relative;
    }
    .navbar-fixed-top {
        border-bottom: 5px solid #f2f2f2;
    }
    .nav.navbar-nav {
        display: block;
        position: absolute;
        bottom: 0;
        right: 13%;
    }
    .sidr.right{
        min-width: 370px;
        width: 370px;
    }
    .navbar-header {
        width: 100%;
        text-align: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-brand {
        margin: 0 0 0 66px;
        height: auto;
        padding: 62px 15px 0;
    }

    .content-logo {
        display: none;
    }

    .navbar-brand {
        display: block;
    }

    .navbar-fixed-top {
        background: #fff;
    }

    .home-contacts {
        margin-top: 40px;
        background: #f2f2f2;
        padding: 20px 0;
    }
    .home-contact-block:first-child{
        padding-right: 115px;
    }
    .home-contact-block p, .home-contact-block h3, .home-contact-block a{
        padding-left: 24.5rem;
    }
    .home-contact-block p.red{
        padding-right: 44px;
    }
    .home-contact-mail{
        margin-top: 45px;
        background-position: 150px center;
    }
    .home-contact-head{
        background-position: 150px center;
    }

    .page#welcome{
        background: #f2f2f2;
    }
    .page#welcome .text-content h2{
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }
    .page .text-content{
        padding: 0 360px 0 300px;
    }
    .text-content h2, .text-content p{
        font-size: 3.6rem;
    }

    .bike-block.descr.pull-left{
        float: left !important;
    }
    .bike-block.descr.pull-right{
        float: right !important;
    }
    .bike-block{
        width: 31.4%;
        height: 528px;
        padding: 14px;
        margin: 10px;
        border-radius: 7px;
        background: #f2f2f2;
        float: left;
        min-height: 528px;
    }
    #diensten .bike-block {
        padding-top: 14px;
    }
    .bike-block .text-content p{
        font-size: 1.8rem;
    }
    .bike-block h3{
        font-size: 24px;
        line-height: 1.1em;
        margin-bottom: 10px;
    }

    .bike-block .line{
        height: 1px;
        width: 100%;
        background: #fff;
    }

    .preview img {
        margin: 24px 0;
    }
    .bike-block .text-content{
        padding: 0 42px 0 0;
    }


    .bike-block a.link-canvas {
        font-size: 1.8rem;
    }

    .bike-block .byke-types{
        color: #888;
        padding: 0 30px;
        font-size: 1.8rem;
    }
    .bike-block.descr{
        padding: 0;
        display: table;
        background: none;
    }
    .bike-block .description p{
        font-size: 3rem;
        line-height: 1.2em;
        padding: 0 30px;
    }
    .bike-block .text-content p.red{
        font-size: 1.8rem;
    }
    .bike-block .description.left-line p{
        border-left: 4px solid #bb0922;
    }
    .bike-block .description.right-line p{
        border-right: 4px solid #bb0922;
        text-align: right;
    }
    .bike-block .description{
        display: table-cell;
        vertical-align: middle;
    }
    .bike-block h3{
        background: none;
        color: #333;
        margin-top: 0;
    }
    h2.type-head{
        background: #f2f2f2;
        text-align: center;
        border-radius: 7px;
        font-size: 2.8rem;
        color: #0b0433;
        height: 56px;
        line-height: 56px;
        margin-bottom: 36px;
        min-width: 100%;
        display: block;
    }
    .page.type-bike {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    #nieuws .clearfix{
        background: url(../images/news_corner_top_right.png) top right no-repeat,
                    url(../images/news_corner_bottom_left.png) bottom left no-repeat;
    }
    .news-block{
        width: 59%;
        border-radius: 7px;
        background: #f2f2f2;
        padding: 14px;
    }
    .news-block:nth-child(2n+1){
        float: right;
    }
    .news-block:nth-child(2n){
        float: left;
    }
    .news-block .discount{
        top: 0;
        left: auto;
        right: -2em !important;
    }
    .news-block:nth-child(2n+1) .discount{
        top: 0;
        left: -2em;
        right: auto !important;
    }
    .news-block, .news-block p {
        font-size: 3.7rem;
        line-height: 1.2em;
    }
    .news-block.large-text, .news-block.large-text p {
        font-size: 1.7rem;
    }
    .news-block p:not(.small) {
        margin-bottom: 0.8em;
        padding-right: 30%;
        color: #888;
    }
    .news-block p.small {
        padding-right: 40%;
        font-size: 2.9rem;
    }

    /*Contact page*/

    .contacts{
        padding: 6% 0 0;
    }
    .contact-block{
        float: left;
    }
    .contact-block.address{
        width: 30%;
        margin-left: 6%;
    }
    .contact-block.email{
        width: 27%;
        margin-left: 6%;
    }
    .contact-block.clock{
        width: 20%;
        margin-left: 7%;

    }
    .contact-block h3{
        font-size: 2.8rem;
        padding-top: 10rem;
    }
    .contact-block p{
        font-size: 1.8rem;
    }
    .contact-block.clock p{
        min-width: 18rem;
    }
    .contact-block.address h3 {
        background-size: auto 7rem;
    }
    .contact-block.email h3 {
        background-size: auto 5rem;
        background-position: 0 2rem;
    }
    .contact-block.clock h3 {
        background-size: auto 7rem;
    }
    .contact-block.address .phone {
        margin-bottom: 11rem;
    }
    .contact-block.address .map-icon {
        width: 5rem;
        right: auto;
        left: 0;
        top: 6.4rem;
    }
    .contact-block.address iframe {
        height: 26.5rem;
    }
    .contact-block.address .map{
        height: 27.5rem;
    }
    .contact-block input{
        height: 5rem;
        font-size: 1.5rem;
    }
    .contact-block textarea{
        font-size: 1.5rem;
        height: 21rem;
    }
    .contact-form{
        margin-top: 10.7rem;
    }
    .white-line.last {
        width: 90%;
        margin: 0 auto;
    }

    .footer-menu {
        padding: 3% 6%;
    }
    .footer-menu .menu-block{
        width: 22.5rem;
        min-height: 37rem;
        float: left;
    }

}
@media (min-width: 1280px) {
    .page.type-bike h2 {
        width: 1280px;
        margin-left: -50px;
    }
}